<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PavloShutz blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">PavloShutz blog</a></h1>
        </header>
        <main>
            {% for post in posts %}
                <article>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <time>published: {{ post.published_date }}</time>
                </article>
            {% endfor %}
        </main>
    </body>
</html>