<!DOCTYPE html>
<html lang="en">
<head>
        <title>PavloShutz blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">PavloShutz blog</a></h1>
        </header>
        <main>
            <article>
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. <strong>Pellentesque</strong> ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p>My hobbies:</p>
                <ul>
                    <li>
                        Programming in Python and C++
                    </li>
                    <li>
                        Table tennis
                    </li>
                    <li>
                        Listening to blues
                    </li>
                </ul>
                <time>published: 14.06.2014, 12:14</time>
            </article>

            <article>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. <strong>Pellentesque</strong> ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
                <time>published: 14.06.2014, 12:14</time>
            </article>
        </main>
    </body>
</html>